.clock{
  display: flex;
  justify-content: center;
}
.hour, .minute, .second{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
h1{
  font-size: 60px;
  font-weight: 500;
}
p{
  position: relative;
  bottom:30px;
  color: lightslategray;
  font-size: small;
}
.Start-Button{
  padding: 10px 40px;
  font-size: 15px;
  color: rgb(13, 173, 133);
  background: transparent;
  border-radius: 7px;
  border:2px solid rgb(13, 173, 133) ;
}
.pause-button{
  padding: 10px 40px;
  font-size: 15px;
  color: red;
  background: transparent;
  border-radius: 7px;
  border:2px solid red ;
}
.Reset-Button{
  margin-left: 90px;
  padding: 10px 40px;
  font-size: 15px;
  color: black;
  background: transparent;
  border-radius: 7px;
  border:2px solid black ;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
button:focus{
  outline: 0;
}